/*

--- 01 Typography

Font Size (px):      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
Font Weight:         400
Line-Height:         1

--- 02 Color

Primary:             #e67e22
Tints:
Shades:
Accents:
Greys:               #555

--- 05 Shadows

--- 06 Border Radius

--- 07 Whitespace

Spacing System (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
*/
