/*------------------------------------*/
/* Header */
/*------------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/* Navigation */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-filled-link:link,
.main-nav-link.nav-filled-link:visited {
  display: inline-block;

  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-filled-link:hover,
.main-nav-link.nav-filled-link:active {
  background-color: #cf711f;
}

.menu-button {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.menu-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.menu-icon[name="close-outline"] {
  display: none;
}

/* Sticky Navigation */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

/*------------------------------------*/
/* Hero Section */
/*------------------------------------*/

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* padding: 6.4rem 0; */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;

  max-width: 130rem;
  /* max-width: 120rem; */
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* Meals Delivered Component*/

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-meals-users {
  display: flex;
}

.delivered-meals-users img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 10rem;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-meals-users img:last-child {
  margin: 0;
}

.delivered-meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals-number {
  color: #cf711f;
}

/*------------------------------------*/
/* Featured In Section */
/*------------------------------------*/

.featured-in-section {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-in-heading {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*------------------------------------*/
/* How It Works Section */
/*------------------------------------*/

.how-it-works-section {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #f8d8bd;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/*------------------------------------*/
/* Meals Section */
/*------------------------------------*/

.meals-section {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.09);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.meal-tag-vegetarian {
  background-color: #51cf66;
}

.meal-tag-vegan {
  background-color: #94d82d;
}

.meal-tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  /* line-height: 1.6; */

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/*------------------------------------*/
/* Testimonials Section */
/*------------------------------------*/

.testimonials-and-gallery-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-user-img {
  width: 6.4rem;
  border-radius: 100px;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-user-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*------------------------------------*/
/* Pricing Section */
/*------------------------------------*/

.pricing-section {
  /* padding: 9.6rem 0; */
  padding: 9.6rem 0 4.8rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;

  display: flex;
  flex-direction: column;
}

.pricing-plan-starter {
  justify-self: end;
  box-shadow: inset 0 0 0 3px #fdf2e9;
}

.pricing-plan-complete {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fdf2e9;

  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best Value";

  background-color: #ffd43b;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8rem 8rem;
  text-align: center;

  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-size: 2rem !important;
  margin-bottom: 3.2rem !important;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.list-starter {
  height: 100%;
}

.plan-select {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-notice {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;

  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 100px;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*------------------------------------*/
/* Call To Action Section */
/*------------------------------------*/

.cta-section {
  padding: 9.6rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-header {
  margin-bottom: 4.8rem;
}

.cta-text-box .h2-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-image {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #333;

  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*------------------------------------*/
/* Footer */
/*------------------------------------*/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
